# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run check files
        run: dir
      - name: Install dependencies
        run: dotnet restore ConsoleApp1
      - name: Build
        run: dotnet build ConsoleApp1
      - uses: actions/upload-artifact@main 
        with:
           name: app build
           path: public/
  tests:
     needs: build
     runs-on: windows-latest
     steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - uses: actions/download-artifact@main 
        with:
           name: app build
           path: public
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'
      - name: Test with the dotnet CLI
        run: dotnet test TestProject1

 
